* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Variables */

  /* Colors */
  --text-clr-primary: #76a3ca;

  /* Backgrounds */
  --bg-clr-primary: #294a55;
  
  /* Border */
  --border-clr: #389cce;

  /* Font weights */
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
}

html {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
  background: #294a55;
  color: var(--text-clr-primary);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
}

i {
font-size: 64px;
color: var(--text-clr-primary);
}

.container {
  position: relative;
  padding: 32px;
  border: 3px solid var(--border-clr);
  border-radius: 10px;
  width: 1000px;
  height: 600px;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clock {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 64px;
  font-weight: var(--medium);
}

.location-info {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.weather-info {
  position: absolute;
  right: 10px;
  bottom: 100px;
}

.current-temperature {
  font-size: 48px;
  font-weight: var(--medium);
}




