* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Variables */

  /* Colors */
  --text-clr-primary: #76a3ca;
  --text-clr-accent: #333;

  /* Backgrounds */
  --bg-clr-primary: #294a55;
  --bg-clr-secondary: #161616;

  /* Buttons */
  ---bg-btn-clr: #202020;
  
  /* Border */
  --border-clr: #389cce;

  /* Font weights */
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
}

html {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
  background: #294a55;
  color: var(--text-clr-primary);
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(950px, 75vw);
  place-content: center;
}

ul {
  list-style-type: none;
}

i {
font-size: 64px;
color: var(--text-clr-primary);
}


input, button, input::placeholder {
  outline: none;
  font: inherit;
}

input {
  border: none;
  color: var(--text-clr-accent);
  background: var(--text-clr-primary);
  width: 150px;
  margin: 0 2px;
}

input::placeholder {
  color: var(--text-clr-accent);
}

button {
  color: var(--text-clr-primary);
  background: var(---bg-btn-clr);
  cursor: pointer;
  border-left: 4px solid var(--border-clr);
  padding: 4px 8px;
}

.widget-container {
  background: var(--bg-clr-secondary);
  position: relative;
  padding: 32px;
  border: 3px solid var(--border-clr);
  border-radius: 10px;
}

.info-container, .weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.chart {
  margin: 16px auto;
  width: 800px;
}

.form-container {
  display: flex;
  justify-content: space-between;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.time {
  margin-right: auto;
}


.date {
  font-size: 32px;
}

.clock {
  font-size: 16px;
}

.current-temperature {
  font-size: 24px;
  font-weight: var(--medium);
}




