* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Variables */

  /* Colors */
  --text-clr-primary: #76a3ca;
  --text-clr-accent: #202020;
  --bg-clr-shadow: #000;

  /* Backgrounds */
  --bg-clr-primary: #294a55;
  --bg-clr-secondary: #161616;
  --bg-clr-card: #222222;
  
  /* Buttons and Inputs */
  --bg-btn-input-clr: #e0dede;
  --btn-border-clr: #1c1cd3;
  
  /* Border */
  --border-clr: #389cce;
  
  /* Font weights */
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
}

html {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
  background: var(--bg-clr-secondary);
  color: var(--text-clr-primary);
}

ul {
  list-style-type: none;
}

i {
font-size: 64px;
color: var(--text-clr-primary);
}

input, 
button, 
input::placeholder {
  border: none;
  outline: none;
  font: inherit;
  font-weight: var(--semibold);
  color: var(--text-clr-accent);
  background: var(--bg-btn-input-clr);
}

label {
  font-weight: var(--medium);
}

input {
  width: 150px;
  margin: 0 2px;
  padding: 4px;
}

button {
  cursor: pointer;
}

button,
input {
  border-left: 6px solid var(--btn-border-clr);
  border-radius: 4px;
  padding: 6px 8px;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 14px auto;
  padding: 32px;
}

.chart-section-container {
  display: flex;
  justify-content: space-between;
}

.chart {
  max-width: 400px;
  max-height: 300px;
}

.search-container {
  text-align: center;
  background: var(--bg-clr-secondary);
}

.search {
  margin: 24px 0;
  text-align: center;
}

.weather-card {
  text-align: left;
  margin: 6px 12px;
  padding: 24px;
  padding-left: 24px;
  border-left: 6px solid var(--btn-border-clr);
  border-radius: 6px;
  background: var(--bg-clr-card);
  box-shadow: 5px 5px 5px 0px var(--bg-clr-shadow), inset 4px 4px 15px 0px var(--bg-clr-shadow), 5px 5px 15px 5px rgba(0,0,0,0);
}

.card-list {
  overflow-y: auto;
  max-height: calc(100% - 24px * 2 - 23px);
}

.info-container, 
.weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.form-container {
  display: flex;
  justify-content: space-between;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.time {
  margin-right: auto;
}

.date {
  font-size: 32px;
}

.clock {
  font-size: 16px;
}

.current-temperature {
  font-size: 24px;
  font-weight: var(--medium);
}




